body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  align-items: center;
  justify-content: center;
}

h1, h2, h3 {
  margin-bottom: 40px;
  color: rgb(82, 38, 13);

}

input:focus, select:focus {
  outline: none;
  border-color: #ffaf64;
  box-shadow: 0 0 5px rgba(255, 183, 100, 0.5);
}
